{namespace n=GeorgRinger\News\ViewHelpers}
{namespace pxa=Tx_PxaFoundation_ViewHelpers}

<f:layout name="Backend/ControlPanel" />

<f:section name="content">
	<div class="row-fluid">
		<div class="span2">
		</div>

		<div class="span6">
		</div>

		<div class="span4">
		</div>

</f:section>

