<div class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
		<ul class="nav">
			<f:comment># TABS DEFINED BY TYPOSCRIPT #</f:comment>
			<f:if condition="{tsTabs}">
				<f:for each="{tsTabs}" as="tab">
					<f:if condition="{currentAction}=={tab.actionName}">
						<f:then>
							<li class="active"><f:link.action action="{tab.linkAction}"><i class="{tab.icon} icon-2x"></i><span>{tab.title}</span></f:link.action></li>
						</f:then>
						<f:else>
							<li ><f:link.action action="{tab.linkAction}"><i class="{tab.icon} icon-2x"></i><span>{tab.title}</span></f:link.action></li>
						</f:else>
					</f:if>
				</f:for>
			</f:if>
			
			<f:comment>
				<li><a href="#"><i class="icon-pushpin icon-2x"></i><span>FAQ</span></a></li>
				<li><a href="#"><i class="icon-th-large icon-2x"></i><span>Pricing Plans</span></a></li>
				<li><a href="#"><i class="icon-bar-chart icon-2x"></i><span>Reports</span></a></li>
				<li><a href="#"><i class="icon-facetime-video icon-2x"></i><span>Guided Tour</span></a></li>
				<li><a href="#"><i class="icon-arrow-right icon-2x"></i><span>More Pages</span></a></li>
			</f:comment>
		</ul>
	</div>
</div>
